@{
    ViewBag.Title = "Asset Directiory";
    var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
}
@section headerscripts
{
    @Scripts.Render("~/js/vendor/angular.min.js")
}

@section scripts{
    @Scripts.Render("~/js/vendor/angular.min.js")
    @Scripts.Render("~/bundles/js/asset/directory")
}


<section class="section section--be section--padding">
    <div class="container container--extend">

        <div ng-app="app" ng-cloak> 
            <div ng-controller="DirectoryCtrl">
                <div class="page__header">
                    <h2 class="page__title">Assets directory</h2>
                </div>
                <div ng-show="loading">
                    <div class="spinner_container">
                        <div class="spinner">
                            <div class="spinner__inside"></div>
                        </div>
                    </div>
                </div>
                <div ng-hide="loading">
                    <div class="form-group">
                        @foreach (var item in alphabet)
                        {
                            <a ng-click="firstLetterSearchQuery = '@item'" ng-class="firstLetterSearchQuery == '@item'?'text-green':''"style="margin-left: 5px; cursor: pointer;">@item</a>
                        }
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" ng-change="assetList.resetToDefault()" placeholder="Search assets">
                    </div>
                    <div>
                        @*<div>{{paged.length}}</div>*@
                        <div class="table-responsive">
                            <table class="table table--asstes table--be_info">
                                <tbody>
                                <tr>
                                    <th colspan="2">Asset</th>
                                    <th>Issuer</th>
                                    <th>Ticker</th>
                                    <th>Coinholders</th>
                                    <th>Coins issued</th>
                                </tr>
                                @*<tr ng-repeat="asset in assetList.allItems | filter:searchQuery | limitTo:assetList.pagedItemsCount as paged">*@

                                <tr ng-repeat="asset in assetsToShow()">
                                    <td>
                                        <a ng-href="{{detailsUrl(asset)}}" ng-show="{{asset.IconUrl!=undefined && asset.IconUrl!=''}}">
                                            <img ng-src="{{asset.IconUrl}}" width="48" alt="{{asset.Name}}">
                                        </a>
                                        <p class="text-muted">
                                            {{asset.AssetIds[0]}}
                                        </p>

                                    </td>
                                    <td>
                                        <a ng-href="{{detailsUrl(asset)}}">
                                            {{asset.Name}}
                                        </a>
                                    </td>
                                    <td>

                                        <span class="glyphicon" ng-class="{'glyphicon-ok-sign': asset.IsVerified, 'glyphicon-remove-sign': !asset.IsVerified}"></span>
                                        {{asset.Issuer}}
                                    </td>
                                    <td>{{asset.NameShort}}</td>
                                    <td>{{asset.CoinholdersCount}}</td>
                                    <td>
                                        <div ng-show="asset.TotalColored!=undefined">
                                            <span>{{asset.TotalColoredDescription}}</span>
                                            <span>{{asset.NameShort}}</span>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="show_more">
                        <a class="btn" ng-show="showNextBtn()" ng-click="assetList.next()">Show More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
