<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Azure Storage account-->
    <add key="Azure.AccountName" value="testnetninja" />
    <!--Azure Storage account key-->
    <add key="Azure.Key" value="6P5i6wIyNWSlUwuHMAjKKrAq3ZwDdSHij5FwkRVPuLn3mpePZx38SFbcvYBM8clay28w+9s5auy7gK59OCgbNg==" />
    <!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
    <add key="StorageNamespace" value="" />
    <!-- Identifier for isolating checkpoints accross several indexer instances (default: default)-->
    <add key="CheckpointSetName" value="" />
    <!--main or test-->
    <add key="Bitcoin.Network" value="test" />
    <!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
    <add key="Node" value="unused" />

    <!-- /End NBitcoin Indexer Settings -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
