@{
    ViewBag.Title = "Not found";
}
<section class="section section--search section--padding">
    <div class="container container--extend">

        <div class="t-simulate">
            <div class="t-row">
                <div class="t-cell">
                    <h1>404</h1>
                    <h2>Oops! Page not found</h2>

                    <p>
                        This content has been moved or is no longer available.<br>
                        If you have any other problem contact our support:<br>
                        <a href="mailto:support@lykkex.com">support@lykkex.com</a>
                    </p>

                    <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-md">Go back</a>
                </div>
            </div>
        </div>

    </div>
</section>