<div class="container">
    <div class="page-content">
        <div class="text-center notFound">
            <a href="@Url.Action("Index", "Home")"><img src="/images/404.png"></a>
        </div>
        <div class="text-center">
            This content may have moved or is no longer available.<br>
            If you have any other questions please contact our support:<br>
            <a href="mailto:support@lykkex.com">support@lykkex.com</a>
        </div>
        <div class="goback">
            <a href="@Url.Action("Index", "Home")" class="btn-2 ">Go back</a>
        </div>

    </div>
    <div class="footer-push"></div>
</div>