@model OffchainChannelPagedList 
@{
    Layout = null;
}

<div class="section section--heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>
                    Channels 
                    <span class="js-offchain-loaded-channel-count">0</span>
                    <span>
                        of @Model.ChannelCount
                    </span>
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<ul>
    @foreach (var page in Model.Pages)
    {
        <li class="js-offchain-page hidden" data-page="@page.PageNumber"
            data-load-url="@Model.BuildUrl(Url, page.PageNumber)">


            <div class="show_more">
                <a class="btn js-load-offchain-page">Show More</a>
            </div>
        </li>
    }
</ul>


@UiHelpers.Loader(htmlId: "js-offchain-page-loader", htmlClass: "hidden")
