@helper Truncate(string source)
{
    <span class="truncate" title="@source">@source</span>
}

@helper Loader(string htmlClass = null, string htmlId = null)
{
    <div class="@htmlClass" id ="@htmlId">
        <div class="spinner_container">
            <div class="spinner">
                <div class="spinner__inside"></div>
            </div>
        </div>
    </div>
}