@model LastBlockViewModel
@{
    ViewBag.Title = "Block Explorer";
    ViewBag.HideTopSearch = true;
    Layout = "../Shared/_Layout_temp.cshtml";
    
}
<section class="section section--search section--padding">
    <div class="container container--extend">
        <div class="t-simulate">
            <div class="t-row">
                <div class="t-cell">
                    <h2>Explore the Blockchain</h2>

                    <form method="get" action="@Url.Action("Search", "Search")" class="form form--default form--search_blockchain">
                        <input class="form-control" type="text" name="id" placeholder="Search transaction, assets, addressed or blocks...">
                        <button type="submit" class="btn btn-md"><i class="icon icon--search"></i> Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>