@model TransactionIdList

<h3 class="transactions-header">@Model.TotalItems Transactions</h3>
<ul class="transactions-list">
    @foreach (var page in Model.Pages)
    {
        <li
            class="hidden transactions-container js-transactions-container"
            data-page="@page"
            data-transaction-ids="@Json.Encode(Model.GetPage(page).ToArray())" data-load-url="@Url.Action("List", "Transaction")">

            <div class="text-center">
                @if (Model.CurrentPage != page)
                {
                    <a class="btn btn-default js-load-trans">Show More</a>
                }
            </div>
        </li>
    }
</ul>
@if (Model.TotalItems != 0)
{
    <div class="js-loader">
        <div class="spinner_container">
            <div class="spinner">
                <div class="spinner__inside"></div>
            </div>
        </div>
    </div>
}

