@{
    Layout = null;
}

@model TransactionViewModel.ColoredAsset.Out

<div class="address-item ">
    <div class="amount">
        @Model.Value.ToString("N0")&nbsp;@Model.ShortName
    </div>
    <div class="address">
        @if (Model.IsUnrecoginzedAddress)
        {
            <span>Unrecognized address</span>
        }
        else
        {
            <a href="@Url.Action("Index", "Address", new {id = Model.Address})">@Model.Address</a>
        }
    </div>
</div>