@using Common
@model TransactionIdList
@{
    Layout = null;
}
<div class="js-transaction-cathegory">
    <div class="section section--heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Transactions <span><span class="js-loaded-tx-count">0</span> of @Model.TotalItems</span> </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <ul class="transactions-list">
        @foreach (var page in Model.Pages)
        {
            <li class="hidden transactions-container js-transactions-container"
                data-page="@page"
                data-transaction-ids="@Json.Encode(Model.GetPage(page).ToArray())" data-load-url="@Url.Action("List", "Transaction")">

                @if (Model.CurrentPage != page)
                {
                    <div class="show_more">
                        <a class="btn js-load-trans">Show More</a>
                    </div>
                }
            </li>
        }
    </ul>
    @if (Model.TotalItems != 0)
    {
        <div class="js-loader">
            <div class="spinner_container">
                <div class="spinner">
                    <div class="spinner__inside"></div>
                </div>
            </div>
        </div>
    }

</div>

